.wide_wall_module .post_full_like_wrap, .post_fixed .post_full_like_wrap {
    width: 370px !important;
}
.post_later_link {
    display: inline;
    color: #829BAF;
}

.post_later_plus {
    background: url(/images/icons/audio_icons.png?6) -78px -51px no-repeat;
    width: 15px;
    height: 12px;
    padding-left: 0px;
    opacity: 0.4;
    /*transition: 0.3s;*/
    transition: opacity 0.3s ease-in-out;
}
.post_later.active .post_later_plus {
    opacity: 1.0;
    background-position: -166px -51px;
    width: 15px;
}

.fw_post_date .post_later_plus {
    display: inline-block;
    margin: 0px -4px -1px 3px ;
}

.post_later.active .post_share_link {
    margin-right: 5px;
    color: #2F5879;
}

.post_later .post_share_link {
    margin-right: 5px;
}

.post_later {
    visibility: hidden;
}

.fw_post_date .post_later {
    visibility: visible;
}
.post:hover .post_later,
.post .post_later.active {
    visibility: visible;
}


#s_search.disabled,
#pad_search.disabled {
    background-color: rgba(208, 205, 205, 0.25) !important; 
}



/*-------------from vk listen_later styles-----------------*/
#initial_list_2 .link_elem {
  padding-left: 0px;
  position: relative;
}

#initial_list_2 .link_elem b{
    color: #2B587A;
}


#initial_list_2 .area {
    cursor: pointer;
    position: relative;
    width: 424px;
    margin: 0px;
}

#initial_list_2 .link_elem .play_btn {
    padding: 0px;
    width: auto;
}
#initial_list_2 .link_elem .play_btn_wrap {
    padding: 9px;
}
#initial_list_2 .link_elem .play_new {
    cursor: pointer;
    width: 16px;
    height: 16px;
    background: url(/images/playpause.gif) no-repeat 0px 0px;
}

#initial_list_2 .link_elem .info {
    position: relative;
    width: 390px;
}

#initial_list_2 .link_elem .title_wrap {
    float: left;
    width: 330px;
    padding: 10px 0 9px;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#initial_list_2 .link_elem .title_wrap b {
    padding: 0px;
    display: inline-block;
    vertical-align: top;
    max-width: 230px;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#initial_list_2 .link_elem span.user {
    font-size: 0.9em;
}

#initial_list_2 .link_elem .area .actions {
    top: 0px;
}
#pad_playlist_panel .link_elem .area .actions {
    position: absolute;
    top: 0px;
    right: 0px;
    padding-left: 10px;
}


#initial_list_2 .link_elem.active .audio_remove {
    background-position: -121px -51px;
}
#initial_list_2 .link_elem.active .play_new {
    background: url(/images/icons/audio_icons.png?6) -147px -28px no-repeat;
}
#initial_list_2 .link_elem.active.playing .play_new {
    background-position: -165px -28px;
}


#initial_list_2 .link_elem.active .title_wrap a,
#initial_list_2 .link_elem.active .title_wrap,
#initial_list_2 .link_elem.active span.user {
    color: #fff;
}



#initial_list_2 .link_elem.over .audio_remove {
        visibility: visible;
}


#initial_list_2 .link_elem .duration {
    color: #777;
    font-size: 0.9em;
}
#initial_list_2 .link_elem.active .area .duration {
    color: #b1bfcf;
}


#initial_list_2 .link_elem.over .duration {
    display: none;
}

#initial_list_2 .link_elem.over .area {
    background-color: #EDF1F5;
}

#initial_list_2 .link_elem.active .area {
    background-color: #5f7fa2;
}

#initial_list_2 .link_elem .audio_remove_wrap{
    transition: 0.2s;
}
#initial_list_2 .link_elem .audio_remove_wrap:hover {
    opacity: 1.0;
    /*visibility: visible;*/
}

/*------------------- копия стилей из Music Sig --------------*/

#initial_list_2 .link_elem .data_info {
    display: none;
}
#initial_list_2 .link_elem:hover .data_info {
    display: block;
}

#initial_list_2 .link_elem:hover .info .data_info {
    color: rgb(136, 136, 136);
    font-size: 0.9em;
    position: absolute;
    top: 19px;
}


#initial_list_2 .link_elem:hover .info .data_info b{
    color: #888;
}
{

}
#initial_list_2 .link_elem:hover .info .title_wrap {
    padding-top: 3px;
}

/* #initial_list_2 .link_elem:hover .info .data_info b {
    color: rgb(238, 238, 238);
    color: #888888;
} */

#initial_list_2 .link_elem span.user {
    color: #2B587A;
}

#initial_list_2 .link_elem.active b {
    color: #FFF;
}
#initial_list_2 .link_elem.active .data_info b,
#initial_list_2 .link_elem.active .data_info span,
#initial_list_2 .link_elem.active:hover .info .data_info b  {
    color: rgb(238, 238, 238);
}


#initial_list_2 .link_elem.long .title_wrap {
    width: 302px;
}

#initial_list_2 .link_elem.long .user {
    float: left;
    margin: 12px 0 0 4px;
}

#initial_list_2 .link_elem.long:hover .user {
    margin-top: 5px;
}

/*----------------------------------- new search stuff ------------------- */

#search_link .right_link {
    margin-right: 5px;
}